<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="KassiberCliPath" Guid="*" Win64="yes">
        <Environment
          Id="KassiberCliPathEnvironment"
          Name="PATH"
          Value="[INSTALLDIR]bin"
          Permanent="no"
          Part="last"
          Action="set"
          System="yes"
        />
        <RegistryValue
          Root="HKLM"
          Key="Software\Bitcoin Austria\Kassiber"
          Name="CliPath"
          Type="integer"
          Value="1"
          KeyPath="yes"
        />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
